<!-- <div>
  <h3>Two way binding</h3>
  Name: <input [(ngModel)] = 'title'/> <br>
  You entered : {{title}} <br> 
</div> -->

<!-- <app-child></app-child> -->
<!-- <app-parent></app-parent> -->
<app-navbar></app-navbar>
<!-- <app-product-create></app-product-create> -->
<router-outlet></router-outlet>


<!-- <app-product></app-product> -->

<!-- <h2 [ngStyle]="{'background-color':'green'}"> {{title}} </h2>

<p *ngif="show">Show this only if "show "is {{show}}" </p> -->

 
<!----Show button if showActions=true-->
<!-- <ng-template #notShow>
  Button are not displayed as showAction is false
</ng-template> -->

<!-- <p [hidden] = "!show">
  Show this only if "show" is true with hidden {{!show}}
</p>

<ul>
  <li *ngFor="let person of people"> 
      {{ person.name }} - {{person.age}}
  </li>
  </ul>

  <ul *ngFor="let person of people">
    <li [ngStyle]="{'font-size.px':24}"
        [style.color]="getColor(person.country)">
       {{ person.name }} {{ person.country }}
    </li>
    </ul>
     -->